<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div><span>name: </span>{{hero.name}}</div>
 -->

<!-- property binding -->
<!-- <input type="text" name="heroes-name" [value] = "hero.name">
<br>
<input type="number" name="heroes-id" [value] = "hero.id"> -->

<!-- <input  placeholder = "name" type="text" name="heroes-name" [(ngModel)] = "hero.name">
<br>
<input type="number" name="heroes-id" [value] = "hero.id"> -->


    <ul class = "hero" >
        <li *ngFor="let hero of hero" [class.selected] = "hero===selectedHero" (click)="onSelect(hero)">
           <span class = "badge" >{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>


<!-- <div *ngIf = "selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div> <span> id : {{selectedHero.id}}</span></div>
    <div> <label> name : 
        <input type="text" name="name" [(ngModel)] = "selectedHero.name"></label>        
    </div>
</div> -->

<app-hero-detail [heroic] = "selectedHero"></app-hero-detail>